---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<h1>Astro Example</h1>
			<p>This example demonstrates the following features:</p>
			<ul>
				<li><a href="/login">Basic form with manual validation</a></li>
				<li>
					<a href="/signup">Async validation</a> (<a
						href="/signup-async-schema">with async schema</a
					>)
				</li>
				<li>
					<a href="/todos?id=demo"
						>Dynamic form with data persistence</a
					>
				</li>
			</ul>

			<hr />

			<slot />
		</main>
	</body>
</html>
