:root {
	--syntax-color-text: theme('colors.white');
	--syntax-token-constant: theme('colors.emerald.300');
	--syntax-token-string: theme('colors.emerald.300');
	--syntax-token-comment: theme('colors.zinc.500');
	--syntax-token-keyword: theme('colors.sky.300');
	--syntax-token-parameter: theme('colors.pink.300');
	--syntax-token-function: theme('colors.violet.300');
	--syntax-token-string-expression: theme('colors.emerald.300');
	--syntax-token-punctuation: theme('colors.zinc.200');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* ubuntu-300 - latin */
	@font-face {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 300;
		src: local(''), url('/fonts/ubuntu-v20-latin-300.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
				url('/fonts/ubuntu-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* ubuntu-regular - latin */
	@font-face {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 400;
		src: local(''), url('/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
				url('/fonts/ubuntu-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* ubuntu-500 - latin */
	@font-face {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 500;
		src: local(''), url('/fonts/ubuntu-v20-latin-500.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
				url('/fonts/ubuntu-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* ubuntu-700 - latin */
	@font-face {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 700;
		src: local(''), url('/fonts/ubuntu-v20-latin-700.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
				url('/fonts/ubuntu-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
}
