label {
	display: block;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

input[data-conform-touched]:invalid,
select[data-conform-touched]:invalid,
textarea[data-conform-touched]:invalid {
	border-color: red;
}

input + div,
select + div,
textarea + div {
	color: red;
}
