name: Tests
on:
  push:
    branches: [main, next, v1]
  pull_request:
    branches: [main, next, v1]
jobs:
  unit:
    name: API Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm i
      - name: Run Vitest tests
        run: pnpm exec vitest
      - name: Run Typecheck
        run: pnpm -r run typecheck
  e2e:
    name: E2E Tests
    timeout-minutes: 60
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        browser: [chromium, firefox, webkit]
        node: [18, 20, 22]
        exclude:
          - os: macos-latest
            browser: firefox
          - os: windows-latest
            browser: firefox
          - os: windows-latest
            browser: webkit
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm i
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps ${{ matrix.browser }}
      - name: Run Playwright tests
        run: pnpm exec playwright test --project=${{ matrix.browser }}
      - name: Upload report to GitHub Actions Artifacts
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-${{ matrix.os }}-node${{ matrix.node }}-${{ matrix.browser }}
          path: test-results/
          retention-days: 14
